body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    font-size: 14px;
}

.modal, .overlay {
    width: 55vh;
    height: 80vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    /* font-size: 10px; */
}

.container {
    max-height: 200px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
  }