.big-sec{
   height:100vh;
   width:100%;
   background-color: #88c6a3;
   display:flex;
   justify-content: center;
   align-items: center;

}

.about-me-left {
   width: 50%;
   height: 100%;

   background-image: url("https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
}

.about-me-wrapper {
   color:black
}

.about-me-right {
   width: 50%;
   height: 100%;
   padding: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.about-me-description{
   font-size: 20px;
}


.about-h1{
   font-size: 90px;
   text-align: center;
   
}

.about_container{
   max-width:100%;
   margin:0 auto;
   display:flex;
   flex-direction: column;
 
}

.sec-1{
   width: 100%;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* border:1px solid #ccc; */
   border-radius: 4px;
   padding: 40px;
   background-color: #689e80;
   box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
.sec-1-h2{
   color:white;
   font-size: 60px;
}
.sec-2-h2{
   font-size: 90px;
   color:white
}
.sec-2{
   width: 100%;
   height: 100vh;
   display: flex;
   /* margin-bottom: 30px; */
   border:1px solid #ccc;
   border-radius: 4px;
   padding:20px;
   background-color: #d8d4b4;
   box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
.sec-3-h2{
   font-size: 90px;
   color:white;
}

.sec-2-right{
   width: 50%;
   height: 100%;
   background-image: url("https://images.pexels.com/photos/3689186/pexels-photo-3689186.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2://images.unsplash.com/photo-1579621970795-87facc2f976d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1070&q=80");
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   
}

.section-2-left {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.sec-3{
   margin-bottom: 30px;
   border:1px solid #ccc;
   border-radius: 4px;
   padding:20px;
   background-color: #d8d4b4;
   box-shadow:0 2px 4px rgba(0,0,0,0.1);
}

h2{
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 10px;
   color:black;
}

.sec-1-p{
   font-size: 20px;
   margin-bottom:15px;
   color:black

}
.sec-2-p{
   font-size: 20px;
   color:black
}
ul{
   list-style-type:disc;
   margin-left:20px;
}
li{
   font-size: 16px;
   margin-bottom: 5px;
}


