body{
    background-color: #f4f1e9;
}

.d-flex{
    display: flex !important;
}

.justify-content-between{
    justify-content: space-between !important;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center; 
  }

  .home-container{
    text-align: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:800px;
    
  }
  .home-h1{
    color:white;
  }
  .home-h2{
    color:white;
  }

h1{
    color:white;
}
  

  a{
    text-decoration: none;
    color:#283618
  }

  .navbar a {
    display:grid;
    align-items: center;
    position: relative;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color:white; 
  }
   a :hover{
    color:#283618;
  }

  #basic-nav-dropdown:hover{
    color: #283618;   
  }

  .home-container h1{
    font-size: 70px;
    font-weight:700;
    line-height: 50px;
    font-family: Raleway, sans-serif;
    padding-top: 10%;
  }

   
  .dropdown-menu{
    background-color: #33323341;
  }
.welcome-button{
    :hover{
      background-color: #689e80;
    }
}
  .logo{
    list-style: none;
  }

  .btn-primary{
    background-color: #689e80;
    border-color: white;
  }
  
  #nav-links{
    justify-content: flex-end;
    margin-right: 6rem;
    padding-left:20px;
  }

#full-nav{
  background-color: #689e80;
  
}

.navbar a {
  color:#f7eccd;
}

.nav-link:focus, .nav-link:hover {
  color: #2b5841;
}

.dropdown-item:hover{
  color: #2b5841;
  background-color: transparent !important;
}

.btn-primary:focus, .btn-primary:hover{
    background-color: #d8d4b4;
    color:#ece4d4;
    border-color: #ece4d4;
}

.btn-get-started scrollto:hover{
    color: #ece4d4;
}

.welcome-button:hover {
    color: #ece4d4;
}