* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
}

input,
label {
  display: block;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 5em;
  line-height: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}

button {
  padding: .125rem;
  min-width: 1.5rem;
}

input {
  margin-bottom: 1rem;
}

main {
  padding: 1rem;
}

ul {
  list-style: none;
}

.posts-list {
  list-style: none;
  width: 100%;
}

.post {
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem;
  align-items: center;
  max-width: 350px;
  min-height: 400px;
  margin: auto;
}

.post img {
  width: 300px;
  height: 300px;
}

.post-date {
  color: rgb(117, 117, 117)
}

.like-icon {
  -webkit-text-stroke: 1px black;
  color: white;
}

.like-icon.liked {
  -webkit-text-stroke: 1px black;
  color: rgb(255, 0, 93);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 1rem;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
  overflow-y: auto;
}