.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:15em;
  height:10em;
  text-align: center;
  margin-left:2em;
}

.card-image {
  width: 3em;
  height: auto;
  margin-bottom: 16px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-description {
  font-size: 14px;
  color:red;
}

/* oomdmscdjks */