#events-header{
    text-align: center;
    font-size: 65px;
}

#card-img{
    max-width: 176px;
    min-width: 200px;
    height: 120px;
}

#event-form-card{
    background-color: black;
    color: white;
}
