:root {
  --clr-dark: black;
  --clr-light: white;
  --clr-grey: #896a67;
  --clr-orange: #ec4e20;
  --clr-green: #00ff00;
  --clr-red: #ff0000;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
main{
  flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    min-height: 400px;
}

.map-section {
  display: flex;
  width: 65%;
  flex-direction: row;
}

#map {
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - 72px);
  width: 100%;
  outline: none;
}

.safe-button {
  position: fixed;
  height: 50px;
  width: 250px;
  margin: 10px;
  z-index: 98;
  opacity: 0.5;
  background: #4c5159;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  height: 40px;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.11);
  transition: box-shadow 0.15s ease-in-out; /* Add a transition effect */

}
.safe-button:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); /* Apply the glowing effect */
  opacity: 0.8;
}

.home-section {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.eventList {
  height: calc(100vh - 72px);
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* Enable vertical scrolling */
}

/* Optional: Customize scrollbar appearance */
.eventList::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

.eventList::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
}

.eventList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar thumb on hover */
}

.eventList li {
  flex: 1;

}

.eventList li a {
  display: block;
  padding: 10px;
  border: 1px solid #333;
  border-bottom: 1px #1c2026 solid;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #d6d0d0;
  text-decoration: none;
}

.eventList li a:hover {
  background-color: #464141;
}

h1 {
  size: 90px;
}

.date {
  font-size: 13px;
  color: #4c5159;
  font-weight: 700;
}

.eventType {
  font-weight: 800;
  font-size: 19px;
  padding-top: 10px;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eventTitle {
  font-size: 18px;
  color: #aaadb3;
  font-weight: 400;
 }

.card-container {
  display: flex; 
}

.card-name {
  font-size: 24px;
  color: #ccc;
  font-weight: 600;
}

.card {
  margin: 2%;
  display: flex;
}

.friends-list, .users-list {
  margin: 2%;
}

.profile-username {
  color: #fff;
}

 /* =================================== Sign-in & Login Pages ====================================== */

.login-page, .sign-up-page{ 
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Set the desired transparency using the alpha value */
  z-index: 1; 
}
form {
  display: flex;
  width: 20rem;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: center;
}
input{
  font-size: 16px;
  height: 40px;
  padding: 0 16px;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  width: 100%;
  border-width: 2px;
}

.signInButton {
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(91, 180, 255);
  border-color: rgb(91, 180, 255);
  font-size: 16px;
  height: 40px;
  margin: 16px;
  padding: 0 16px;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  width: 100%;
  border-width: 2px;
  font-size: 0.9375rem;
  font-family: Styrene, sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  border-width: .4px;
  border-style: solid;
  border-color: rgb(91, 180, 255);
  border-image: initial;
  border-radius: 0.25rem;
  padding: 0.83334em 1em;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Set the transition property */
   
}
.signInButton :hover{
  background-color: rgb(45, 160, 255);
  color: white;
 
}

.form-title{
  font-size: 2.3rem;
  line-height: 1.5;
  font-weight: 600;
  color: #d9daec;
}

.username-label, .password-label{
  color: #d6d0d0;
  color: rgb(142, 142, 154);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  width: 360px;
  margin: 7px 0px 5px;
}
p{
  color: rgb(142, 142, 154);
}

.form-redirect-link{
  text-decoration: none;
  color: #a577ee;
  font-size: 19px;
}

.list-title{
  color: #d9daec;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}
#signInMap{
  position: absolute; 
  top: 0;
  bottom: 0; 
  width: 100%; 
}

#btn-spin {
 display: none;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Sign-in & Login Pages ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  .signInButton {
    background-color: #f9f9f9;
  }
}

 /* =================================== HEADER & NAV  ====================================== */
header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -1px;
  z-index: 10000;
  padding: 0.5rem 1rem;
  background: rgb(26, 26, 26);
  height: 45px;
  padding-left: 95px;
  padding-right: 75px;
 
}
.nav-toggle{
  padding: 1rem;
  transition: color 300ms ease 0s;
  cursor: pointer;
  display: flex;
  animation: slideInFromLeft 0.3s ease-in-out forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
nav a {
  display: block;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: rgb(142, 142, 154);
  text-decoration: none
}
nav a:hover {
  transition: color 0.3s ease; 
  color: rgb(240, 240, 245);
}

#logo {
  display: flex;
  /* text-transform: lowercase; */
  font-variant: small-caps;
  font-size: 2.15rem;
  letter-spacing: 0.07em;
  font-weight: 400;
  color: rgb(225, 225, 233);
  text-decoration: none;
  align-items: center;
  flex-direction: row-reverse;
}

#logo-img {
  width: 29px;
  height: 29px;
  padding: 7px;
  cursor: pointer;
}


nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}


 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ HEADER & NAV  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* automatically added by NavLink component */


.marker {
  background-color: #000000;
  border: 1px solid red;
  height: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 20px;
}

.userLocationPin {
  background-color: #ffffff;
  border: 1px solid red;
  height: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 20px;
}

.mapboxgl-popup {
  padding: 10px;
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 16px;
  max-width: 280px;
}

/* ================ Disaster Page Feed component style ============== */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  min-height: 100vh;
}

.disasterList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.disasterList li {
  flex: 1;

}

.disasterList li a {
  display: block;
  padding: 10px;
  border: 1px solid #333;
  border-bottom: 1px #1c2026 solid;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #d6d0d0;
  text-decoration: none;
}

.disasterList li a:hover {
  background-color: #464141;
}
.disasterRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.disasterDate {
  font-weight: bold;
  margin-right: 1rem;
}

.disasterType {
  background-color: #f2f2f2;
  color: #333;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.disasterTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
}

.disasterDd {
  margin-top: 0.5rem;
}

.disasterDetails {
  background-color: #f2f2f2;
  padding: 1rem;
  margin-top: 1rem;
}

.disasterLocation,
.disasterTime,
.disasterParticipants {
  margin-bottom: 0.5rem;
  color: #666;
}
/* styles.css */

/* Reset */

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
}

.main {
  flex-grow: 1;
}

.hero {
  position: relative;
}

.hero-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
