:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#map {
  position: relative;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 65%;
}
.home-section {    
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;


}
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.eventList {
  height: calc(100vh - 72px);
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Optional: Customize scrollbar appearance */
.eventList::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.eventList::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

.eventList::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
 .eventList li {
  flex: 1;
  
} 

.eventList li a {
  display: block;
  padding: 10px;
  border: 1px solid #333;
  border-bottom: 1px #1c2026 solid;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #d6d0d0;
  text-decoration: none;
}

.eventList li a:hover {
  background-color: #464141;
} */
 h1{
  size: 90px;
 }
 .date{
  font-size: 10px;
  color: #4c5159;
  font-weight: 700;
 }
 .eventType{
  font-weight: 800;
  font-size: 19px;
  padding-top: 10px;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
 }
 .eventTitle{
  font-size: 18px;
  color: #aaadb3;
  font-weight: 400;
 }
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  position: sticky;
  top: -1px;
  z-index: 10000;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}
.marker {
width: 30px;
height: 30px;
background: red;
border-radius: 50%
}


.mapboxgl-popup {
  padding: 10px;
  max-width: 200px;
}

.mapboxgl-popup-content {
 font-size: 12px;
 font-weight: 800;
 letter-spacing: 1px;
 line-height: 24px;
 text-align: center;
 text-transform: uppercase;
 padding: 8px 16px;
 max-width: 280px;
}
