body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  /* overflow: hidden; */
    overflow-style: none;  
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}



/*  */

.page-bg{
  background-image: url('./media/green.png');
  height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main{
  margin-top: 3%;
  border-radius: 25px;
  width: 80%;
  height: 80%;
  background-image: url('./media/brown.png');
  background-size: cover;
}




input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-image:  url("./media/black.png") ;
}

.brand{
  display: flex;
  align-items: center;
}

#logo{
  height:100px;
}

#title {
  font-size: 4.5rem;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  color:white;
  display: flex;
  background-image: url('./media/yellow.png');
  background-size: cover;
  gap: 4.5rem;
  padding: 20px 40px;
  margin: 0;
  list-style: none;
  border-radius: 15px;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 30rem;
  /* height: 15rem; */
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: black;
  font-weight: bold;
  font-style: italic;
}
main{
  /* border: #CCC 1px solid; */
  height: 95vh ;
}
.sign-bg{
  margin-top: 0px;
  height: 100%;
  width: auto;
  background-image: url('./media/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#moto-div{
  background-color: whitesmoke;
  opacity:60%;
  border-radius: 15px;
  width: 400px;
  padding: 30px 0px 10px 40px;
  margin: 100px 0px 50px 50px;
}


#story-div{
  background-color: whitesmoke;
  opacity:60%;
  border-radius: 15px;
  width: 400px;
  padding: 10px 10px 10px 40px;
  margin: 0px 0px 50px 50px;
}

.moto-text{
  margin-top: 0px;
}

p{
  font-weight: 700;
}


.user-form{
  margin-top: 200px;
  background-image: url('./media/white.png');
  background-size: cover;
  border: 5px rgb(231, 203, 174) solid;
  /* border-image: url('./media/black.png'); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-suggest{
  padding-top: 10px;
}


/* 404 Page - START */

.h1404{
  font-family: 'Nunito', sans-serif;
  font-size: 300%;
}

#Page404{
  background-image: url('./media/grey.png');
  background-size: 60%;
  display: flex ;
  justify-content: center;
}

#errordiv{
  margin: 2% 50px 0px 50px;
  width: 0px;
}

#lostlol{
  width:100vw;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#mrbroc{
  width: 170px;
}

#returnButt{
  color:whitesmoke;
  font-family: 'Nunito', sans-serif;
  font-size: 200%;
  font-weight: 600;
  padding: 40px ;
  background-color: #66a653;
  border: #360 5px solid;
  border-style: dashed;
  width:30%;
  text-align: center;
}
#returnButt:hover{
  background-color: #4a753e;
  transform: scale(1.2);
}


/* 404 Page - END */


/* UserHome - START */

#search-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./media/green.png');
}

#search-food-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px;
}

#search-food-area{
  display: flex;
  flex-direction: column;
  background-image: url('./media/brown.png');
  background-size: 50%;
  height: 100em;
  /* border-radius: 15px; */
}

#search-text{
  color: white;
  background-image: url('./media/black.png');
  background-size: 200%;
  padding: 20px 200px;
  border-radius: 15px;
  
}

#search-food-box{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center
}

#search-food-box input{
  scale: 1.5;
  border-color: grey;
  border-radius: 5px;
  border-style: revert;
  margin: 0px;
}
#search-food-box button{
  padding: 15px;
  background-color: whitesmoke;
  border-color: grey;
  border-style: double;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 150%;
}
.previousButton, .nextButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: whitesmoke;
  border-color: grey;
  border-radius: 10px;
  border-style: double;
  cursor: pointer;
  font-size: 16px;
}
.previousButton::before{
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url('../src/media/previousArrow.png') no-repeat center;
  background-size: contain;
  font-size: 16px;
  margin-right:10px;
}
.nextButton::before{
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url('../src/media/previousArrow.png') no-repeat center;
  background-size: contain;
  font-size: 16px;
  margin-right:10px;
  transform: rotateY(180deg);
}
.buttonNextPrev{
  display: flex;
  justify-content: space-around;
  margin: 5vh;
}
/* UserHome - END*/


/* Item Page - START */

#product-page-image{
 
  width: 75%;
  border-radius: 25px;
  /* padding: 100px; */
  background-image:url('./media/white.png');
}

.item-page-product-name{
  color: white;
  background-image: url('./media/black.png');
  padding: 30px 10px;
  border-radius: 15px;
  width: 50%;
  margin-bottom: 0px;
}

#stores-info{
  background-image:url('./media/white.png');
  display: flex;
  flex-direction: column;
  width: 30rem;
  height:20rem;
  padding:20px;
}

.product-page-1st-row{
  display: flex;
  /* flex-direction: ; */
}

.product-page-2nd-row{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#ingredients-info{
  background-image:url('./media/white.png');
  display: flex;
  flex-direction: column;
  width: 30rem;
  /* height:20rem; */
  padding:20px;
}

#additives-info{
  background-image:url('./media/white.png');
  display: flex;
  flex-direction: column;
  /* width: 30rem;
  height:20rem; */
  padding:20px;
}

#product-page-bottons{
  display: flex;
  /* width: 30rem; - Go back bottun takes up all open space
  justify-content: space-around; */
}











.nutri-scores{
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

#nutri-div{
  background-color: white;
  border-style: none;
}
#nova-div{
  background-color: white;
  border-style: none;
}
#nutri-details{
  width: auto;
  text-align: center;
}

#nutri-stats{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-search-cards{
  display: flex;
  width: 30rem;
  align-items: center;
}

#product-search-cards-image{
  align-self: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  height: 15rem;
}

#product-search-cards-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-info-section{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.previousButton{
  background-image: url('./media/white.png');
  background-size: 100%;
}

.nextButton{
  background-image: url('./media/white.png');
  background-size: 100%;
}




/* Item Page - END */


/* User Dashboard - START */
#userDash-head{
  display: flex;
  background-image: url('./media/brown.png');
  background-size: 50%;
  margin-top: 2%;
  border-radius: 15px;
}

#userDash-head-user{
  background-image: url('./media/white.png');
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}


#grocery-card{
  margin: 3rem 0rem 0rem 0rem;
  
}

.grocery-preview-image{
  height: 10rem;
  align-self: center;
  /* background-image: url('./media/black.png'); */
  /* padding: 1rem; */
}

.imageCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainAB{
  display:grid;
  justify-content: space-evenly;
}
#team-container{
  display: flex;
  justify-content: space-around;
}
#header-Ab{
    display: grid;
    justify-items: center;
    width: 865px;
    padding-left: 122px;
    padding-top: 25px;
}
#body-Ab{
  padding-top: 70px;
  display: grid;
  margin: 0;
 justify-items: center;
}
#team{
  padding-top: 60px;
}
#image-Abp{
  height: 300px;
    width: 600px;
}
#p2{
  width:700px;
}
#image-Ab{
padding-top: 35px;
}
#teamTitle{
  padding-left: 40%;
}

.team-container {
  display: flex;
  justify-content: center;
}

.team-member {
  text-align: center;
  margin: 20px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member h3 {
  margin: 10px 0;
}

.team-member p {
  color: #888;
}