/* CSS HEX */
:root
{ --background-color: #dda15eff;
--header-color: #fefae0ff;
--dark-accent-color: #254441;
--light-accent-color: #43aa8bff;
}

#form_container{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    /* background: rgba(24, 20, 20, 0.987); */
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    background-color: #689e80;
    color:white;
}
