


.box1{
    
    height: 680px;
}
.box2{
height: 400px;
}
.box3{
    height: 430px; 
}

.story, .story1, .secondstory{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* Adjust the height as needed */
  padding: 20px;
  font-size: larger;
}
.header{
  font-size: x-large;
}

.factsTitle, .fact1{
  padding: 0%;

}


.factsstories{
  font-size: 50px;
}

.carecompanion {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .carecompanion:hover {
    animation: wavyText 1s linear infinite;
  }
  
  @keyframes wavyText {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }