/* ChatSidebar.css */

.chatSidebar {
  background-color: #333;
  color: black;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.a.i {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}

select {
  width: 100%;
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}
